.card {
  background-color: #fff;
  border-radius: 40px 40px 0px 0px;
  bottom: 0;
  height: 40vh;
  padding: 48px 24px 24px;
  position: absolute;
  width: 100vw;
  z-index: 5;
}

.card h2 {
  font-family: "Lato", sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.avatars {
}

.button {
  height: "56px";
  width: "100%";
}
