@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@300;400;800&display=swap");
@import "~antd/dist/antd.css";
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
