@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@300;400;800&display=swap");
@import "~antd/dist/antd.css";
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.icon {
  color: #fff;
  font-size: 1.5rem;
  margin: 64px 24px;
  position: absolute;
  z-index: 5;
}
